* {
  box-sizing: border-box;
}

body {
  font-family: 'Liberation Sans', sans-serif;
  font-weight: 100;
  color: #2d3c49;
}

h3 {
  text-transform: uppercase;
  color: #2d3c49;
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

p {
  color: #7d97ad;
  font-size: 12px;
}

.text-desc {
  color: #7d97ad !important;
  font-weight: 100;
  margin-bottom: 20px;
}

.text-thin {
  font-weight: 100;
}

.text-footer {
  text-align: center;
  color: #2d3c49;
}

.title-super {
  font-size: 60px;
}

.title-logo {
  margin-top: 20px;
  margin-bottom: 10px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.heading {
  border-bottom: 3px solid #7d97ad;
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 0;
}

.img-responsive {
  margin: 0 auto;
  padding-left: 0;
  display: block;
  vertical-align: middle;
}
